<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Transparent Login Form HTML CSS</title>
	<link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet">
</head>
<body>
	<div class="form-box">
		<div class="main"></div>
        <div class="container">
            <h1>Object Detaction</span></h1>
            <form action="" method="POST" enctype="multipart/form-data">
                <input type="file" name="image" id="image" accept="image/*">
                <button type="submit" class="custom-btn btn-1">Detect Object</button>
            </form>
            <div id="results"></div>
        </div>
	</div> 
</body>
</html>